{
  "extends": "airbnb",
  "plugins": [
    "react",
    "react-native"
  ],
  "env": {
    "mocha": true
  },
  "rules": {
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "comma-dangle": ["error", "never"],
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "global-require": 0,
    "react/prefer-es6-class": 0,
    "no-underscore-dangle": 0,
    "prefer-rest-params": 0,
    "guard-for-in": 0,
    "no-restricted-syntax": 0,
    "prefer-template": 0,
    "no-unused-expressions": 0,
    "vars-on-top": 0,
    "react/jsx-no-bind": 0,
    "max-len": [
      2,
      120,
      2,
      {
        "ignoreComments": true
      }
    ]
  }
}
